@import 'variables';

.list-view {
  a {
    color: $color-dark-grey;
    .color-container {
      height: 260px;
      width: 220px;
      margin-bottom: 40px;
      position: relative;
      box-shadow: 1px 1px #eaeaea;

      .inner-text {
        position: absolute;
        bottom: 0;
        height: 35px;
        padding: 8px;
        width: 100%;
        background: $color-white;
      }
    }
  }
}
.current {
  text-decoration: underline;
}