<div class="container">
  <div class="text-center">
    <h2 class="d-inline-block">All Colors</h2>
    <span class="align-text-bottom">(<a href="javascript:;" (click)="exportColors()">Export</a>)</span>
  </div>
  <div class="row list-view justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3" *ngFor="let color of colors_list | slice: color_begin:color_end">
      <a href="javascript:;" (click)="selectedColor(color)">
        <div class="color-container d-inline-block ml-4 ml-md-0" [style.background-color]="color.shade">
          <div class="inner-text">{{ color.shade }}</div>
        </div>
      </a>
    </div>
  </div>
  <ul class="list-inline mx-auto justify-content-center text-center">
    <li class="list-inline-item" *ngFor="let current_page of total_color_pages; let i = index;" [class.current]="i===(current_color_page)"><a href="javascript:;" (click)="paginateTo(i)">{{ i+1 }}</a></li>
  </ul>
</div>