<header class="navbar fixed-top bg-grey">
  <a routerLink="/listview">
    <img src="assets/logo.png" alt="Logo" class="logo-image"/>
  </a>
  <input type="text" placeholder="Search" [(ngModel)]="filter_text" (ngModelChange)="applyFilter($event)" class="search-filter d-none d-md-block"/>
  <a href="javascript:;" (click)="filter_input = !filter_input" class="d-sm-block d-md-none">
    <img src="assets/search-icon.png" alt="Search Filter"  class="search-icon" />
  </a>
</header>
<input type="text" placeholder="Search" *ngIf="filter_input" [(ngModel)]="filter_text" (ngModelChange)="applyFilter($event)" class="small-screen-search-filter d-sm-block d-md-none"/>
<section class="display-section" [class.mt-5]="!filter_input">
  <div class="row">
    <nav class="col-md-3 col-lg-2 text-center bg-light-grey sidebar">
      <div class="sidebar-sticky">
        <button class="my-3" (click)="chooseRandomColor()">Random Color</button>
        <ul class="list-unstyled">
          <li *ngFor="let color of filtered_colors">
            <a href="javascript:;" (click)="selectedColor(color)">{{ color.color_id }}</a>
          </li>
        </ul>
        <a class="btn btn-secondary my-3" href="javascript:;" (click)="clearFilter()" *ngIf="filter_text.length">Clear Filter</a>
      </div>
    </nav>
    <main class="col-md-9 col-lg-10 ml-auto p-3">
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
