@import 'variables';
.navbar {
  height: 3em;
  .logo-image {
    height: 30px;
  }
  .search-filter {
    border-radius: 5px;
    padding-left: 10px;
  }
  .search-icon {
    height: 30px;
  }
}
.small-screen-search-filter {
  border-radius: 5px;
  padding-left: 10px;
  margin-top: 48px;
  width: 100%;
}

.display-section {
  a {
    color: $color-dark-grey;
    text-decoration: none;
  }
}

@media only screen and (min-width: 640px) {
  .display-section {
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding: 48px 0 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}