<section class="detail-view">
  <div class="text-center">
    <h2 class="d-inline-block">Color Category: {{main_color?.color_id}} </h2>
    <span class="align-text-bottom">(<a href="javascript:;" (click)="exportColors()">Export</a>)</span>
  </div>
  <div class="row mb-4">
    <div class="col-6 offset-3 end" *ngIf="main_color">
      <div class="display-color" [style.background-color]="main_color.shade">
        <div class="inner-text">{{ main_color.shade }}</div>
      </div>
    </div>
  </div>
  <div class="row mx-0 horizontal-scroll">
    <div class="col-sm-12">
      <ng-container *ngFor="let shade of color_shades">
        <a href="javascript:;" (click)="updateMainColor(shade)">
          <div class="color-container d-inline-block mr-3" [style.background-color]="shade">
            <div class="inner-text">{{ shade }}</div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</section>