@import 'variables';
.detail-view {
  .display-color {
    height: 300px;
    position: relative;
    box-shadow: 1px 1px $color-light-light-grey;
    .inner-text {
      position: absolute;
      bottom: 0;
      padding: 15px;
      background-color: $color-white;
      width: 100%;
      height: 50px;
    }
  }
  .horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
    }
    a {
      color: $color-dark-grey;
      .color-container {
        height: 260px;
        width: 220px;
        position: relative;
        box-shadow: 1px 1px $color-light-light-grey;

        .inner-text {
          position: absolute;
          bottom: 0;
          height: 35px;
          padding: 8px;
          width: 100%;
          background: $color-white;
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) {
  .detail-view {
    .display-color {
      height: 400px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .detail-view {
    .display-color {
      height: 500px;
    }
  }
}